<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">

    <div class="form-group" [ngClass]="checkerCss('title')">
        <label>
            Title <input type="text" formControlName="title" name="title">
        </label>


        <app-error-field 
            [displayError]="isFieldValid('title')" 
            errorMsg="Please provide title">
        </app-error-field>
    </div>

    <div class="form-group" [ngClass]="checkerCss('description')">
        <label>
            Description <input type="text" formControlName="description" name="description">
        </label>
        <app-error-field 
            [displayError]="isFieldValid('description')" 
            errorMsg="Please provide description">
        </app-error-field>
    </div>

    <div>

        <div class="form-group" [ngClass]="checkerCss('deadline')">
            <label>
                Deadline <input type="date" formControlName="deadline" name="deadline">
            </label>
            <app-error-field 
                [displayError]="isFieldValid('deadline')" 
                errorMsg="Please provide Deadline date">
            </app-error-field>
        </div>

    <select formControlName="hours">
        <option *ngFor="let option of TaskService.generatorOptions(24,1)">
            {{ option }}
        </option>
    </select>

    <select formControlName="minutes">
        <option *ngFor="let option of TaskService.generatorOptions(3,15)">
            {{ option }}
        </option>
    </select>
    </div>


    <div class="form-group" [ngClass]="checkerCss('value')">
        <label>
            Value <input class="value" type="number" min="0" value="1" formControlName="value" name="value">
        </label>
        <app-error-field 
            [displayError]="isFieldValid('value')" 
            errorMsg="Please provide value">
        </app-error-field>
    </div>

    <button type="submit">Save</button>
    <button (click)="discardChanges($event)"> Discard </button>
</form>