.navbar {
    width: 100%;
    height: 100px;
    // background-color: #5995ED;
    background-image: linear-gradient(to right top, #3485fe, #006efa, #0056f3, #003bea, #0010dd);
    display: flex;
    align-items: center;

    box-shadow: {
    }
    -webkit-box-shadow: 18px 3px 26px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 3px 26px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 18px 3px 26px 7px rgba(0, 0, 0, 0.75);
}