@import "../../assets/colors";
section {
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h1 {
  font-size: 25px;
  letter-spacing: 2px;
  color: $color-white;
  font-style: bold;
  text-align: center;
  cursor: auto;
  outline: none;
  margin-top: 30px;
}

.card-container {
  border-radius: 10px;
  background-image: linear-gradient(to right top, #3485fe, #006efa, #0056f3, #003bea, #0010dd);
  width: 400px;
  height: 400px;
  box-shadow: {
  }
  -webkit-box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 21px -6px rgba(0,0,0,0.75);
}

button {
  display: flex;
  margin: auto;
  margin-top: 50%;
  padding: 15px;
  background: transparent;
  color:  $color-white;
  font-size: 18px;
  border: .5px solid  $color-white;
  border-radius: 10px;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  outline: none;
  i {
    display: flex;
    margin-left: 10px;
    margin-top: 2px;
    font-size: 20px;
  }
}