@import "../../../assets/colors";

.error-msg {
    color: $color-red-warning;
    background-color: rgba(255, 204, 204, 0.7);
    font-size: 11px;
    padding: 2px;
    padding-left: 10px;
    opacity: 70%;
    border: .5px solid  $color-red-warning;
    border-radius: 5px;
    font-style: italic;
  }
