<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
    <label>
        Title <input type="text" formControlName="title" name="title">
    </label>
    <label>
        Description <input type="text" formControlName="description" name="description">
    </label>
    <div>
        <label>Deadline
            <input type="date" formControlName="deadline" name="deadline">

        </label>

        <select formControlName="hours">
            <option *ngFor="let option of generatorOptions(23,1)">
                {{ option }}
            </option>
        </select>

        <select formControlName="minutes">
            <option *ngFor="let option of generatorOptions(3,15)">
                {{ option }}
            </option>
        </select> 
    </div>
    <label>
        Value <input class="value" type="number" min="0" value="1" formControlName="value" name="value">
    </label>

    <app-button type="submit">Submit</app-button>

</form>
<p class="taskList" *ngIf="visible">LIST OF TASKS</p>
<app-task-item 
  *ngFor="let taskItem of valuesArras"
  [task]="taskItem"></app-task-item>
