@import "../../assets/buttons";
@import "../../assets/colors";


* {
  font-family: 'Poppins', sans-serif;
  color: #3f4254;
  font-size: 13px;

}

.form-container {
  min-height: 100px;
  // display: block;
  background-color: $color-white;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: {
  }
  -webkit-box-shadow: 18px 3px 26px 7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 18px 3px 26px 7px rgba(0, 0, 0, 0.75);
  box-shadow: 18px 3px 26px 7px rgba(0, 0, 0, 0.75);
}

form {
  // width: 350px;
  width: 450px;
  display: block;
  // flex-direction: column;
  // justify-content: center;
  // align-content: space-between;
  margin-bottom: 50px;
  padding: 20px;
}

// input,
// select {
//   border-radius: 5px;
//   outline: none;
//   border: 0.5px solid $color-black;
//   padding: 5px;
//   margin: 5px 0;
//   box-sizing: border-box;
// }

label {
  display: inline-flex
}

.title {
  width: 100px;
}

.select-form, .date {
display: inline-flex;

}

// .select-form {
//   display: inline-flex;

//   width: 100px;
//   height: auto;

// }





















// .title {
//   width: 100%;
//   display: inline-flex;
// }
// .test {
//   width: 100%;
// }

// // .select-form, .test {
// //   display: inline-flex;
// //   flex-direction: row;
// // }

// .test, .select-form {
// display: flex;
// }


// // select {
// //   display: inline-flex;
// // }

// .input-container {
//   display: block;
// }

// // input,
// // select {
// //   border-radius: 5px;
// //   outline: none;
// //   border: 0.5px solid $color-black;
// //   padding: 5px;
// //   margin: 5px 0;
// //   box-sizing: border-box;
// // }

// .errorMessage {
//   margin-left: 20px;
// }



// .error {
//   font-size: 12px;
//   display: block;
//   color: $color-red-warning;
//   border: 1px solid $color-red-warning;
//   background-color: $color-salmon;
//   border-radius: 5px;
//   padding: 10px;
// }

// // .material-icons {
// //   font-size: 14px;
// //   padding-bottom: 1px;
// //   position: absolute;
// // }

// // .date {
// //   margin-right: 30px;
// // }

// // .select-date,
// // .date {
// //   max-width: 150px;
// //   display: inline-flex;
// // }

// // select {
// //   margin-left: 15px;
// // }

// // button {
// //   margin-left: 30px;
// // }

// // .taskList {
// //   font-weight: bold;
// //   .title {
// //     margin-top: 10px;
// //     margin-bottom: 10px;
// //   }
  

// //   input {
// //     margin-bottom: 10px;
// //   }

//   .btn-primary {
//     margin-top: 20px;
//   }

//   // .submit {
//   //   display: flex;
//   //   justify-content: center;
//   // }
//   .value::-webkit-inner-spin-button,
//   .valkue::-webkit-outer-spin-button {
//     opacity: 1;
//   }

//   // .form-group {
//   //   display: flex;
//   //   flex-direction: column;
//   //   align-items: flex-end;
//   //   padding-left: 30px;
//   // }
//   // opacity: 1;
  
