<div class="form-container">

    <!-- <div class="close-icon">

        <span class="material-icons">
            close
            </span>
    </div> -->

    <span *ngIf="isEmpty" class="error">
      <div class="width: 30px; height: 20px;" >

        <span class="material-icons">
            error_outline</span>

        <span class="errorMessage">{{ errorMessage }}</span>
      </div>
             
    </span>
    <form>
        <label class="input-container">
           <div class="title">Title</div>  
           <input type="text" [(ngModel)]="title" name="title">
          
        </label>
        <label class="input-container">
            <div class="title">Description</div> <input type="text" [(ngModel)]="description" name="description">
            
        </label>
        <div>
            <label><div class="title">Deadline</div>
                <div class="date"> 
                    <input type="date" [(ngModel)]="deadline" name="deadline"></div>
            </label>
    <div class="select-date">
        <select>
            <option>00</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
            <option>21</option>
            <option>22</option>
            <option>23</option>
        </select>

        <select>
            <option>00</option>
            <option>15</option>
            <option>30</option>
            <option>45</option>
        </select>

    </div>
            
        </div>
        <label class="input-container">
            <div class="title">Value</div> <input class="value" type="number" min="0" value="1" [(ngModel)]="value" name="value">
        </label>
        <div class="submit">
            <button class="btn-primary" (click)="getInputsValue($event)">Submit</button>
        </div>
        
    
    </form>
</div>

