.form-container {
  min-height: 100px;
  width: 40%;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
}

form {
  padding: 20px;
}

.input-container {
  display: block;
}

.errorMessage {
  margin-left: 20px;
}

.error {
  font-size: 12px;
  display: block;
  color: red;
  border: 1px solid red;
  background-color: #ffcccc;
  border-radius: 5px;
  padding: 10px;
}

.material-icons {
  font-size: 14px;
  padding-bottom: 1px;
  position: absolute;
}

.date {
  margin-right: 30px;
}

.select-date,
.date {
  max-width: 150px;
  display: inline-flex;
}

select {
  margin: 10px;
}

.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

.button-submit {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.value::-webkit-inner-spin-button,
.valkue::-webkit-outer-spin-button {
  opacity: 1;
}
