.new-auction-form {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;

  width: 20vw;
  min-width: 600px;
  height: 100vh;

  background-color: #fff;
  box-shadow: 0px 2px 16px #222222;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  & > * {
    margin: 5px;
  }
  input {
    height: 40px;
    &::placeholder {
      font-size: 16px;
    }
  }
  input,
  textarea {
    width: 50%;
    max-width: 300px;
    padding: 0 10px;
  }
  label {
    font-size: 20px;
  }
  transition: 0.3s linear;
  transform: translateX(-100vw);
  &--visible {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
.submit-btn {
  max-width: 150px;
  height: 40px;
}
.close {
  position: absolute;
  top: 5vh;
  right: -5vh;
}
