.new-auction-form {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;

  width: 20vw;
  min-width: 600px;
  height: 100vh;

  border: 1px red solid;
  background-color: #fff;

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 10%;
  & > * {
    margin: 5px;
  }
  input {
    height: 40px;
    &::placeholder {
      font-size: 16px;
      // font-weight: bold;
    }
  }
  input,
  textarea {
    width: 50%;
    max-width: 300px;
    padding: 0 10px;
  }
  label {
    font-size: 20px;
  }
}
.close {
  position: absolute;
  top: 5vh;
  right: -5vh;
}
