<form
  class="new-auction-form"
  [ngClass]="{ 'new-auction-form--visible': isFormVisible }"
  [formGroup]="auctionForm"
  (ngSubmit)="onSubmit(auctionForm)"
>
  <label for="title">Title:</label>
  <input
    formControlName="title"
    type="text"
    placeholder="Title"
    name="title"
    id="title"
  />
  <label for="maxValue">Maximum points value:</label>
  <input
    formControlName="maxValue"
    type="number"
    placeholder="00"
    name="maxValue"
    id="maxValue"
  />
  <label for="maxValue">Expires on:</label>
  <input
    formControlName="finishDate"
    type="date"
    name="deadline"
    id="finishDate"
  />
  <label for="description">Description:</label>
  <textarea
    formControlName="description"
    name="description"
    id="description"
    cols="30"
    rows="10"
  ></textarea>
  <button class="submit-btn" type="submit">
    Confirm
  </button>
  <button class="close" (click)="fireCloseFormEvent($event)">X</button>
</form>
