@import "../../../assets/colors";

.form-container {
    max-height: 500px;
    position: relative !important;
    background-color: $color-white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: {
    }
    -webkit-box-shadow: 18px 3px 26px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 18px 3px 26px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 18px 3px 26px 7px rgba(0, 0, 0, 0.75);
  }