@import "../assets/colors";

@mixin button-primary-common() {
  box-sizing: border-box;
  display: flex;
  padding: 10px;
  background: transparent;
  color: $color-white;
  font-size: 18px;
  border: 0.5px solid $color-white;
  border-radius: 10px;
  letter-spacing: 1px;
  position: relative;
  cursor: pointer;
  outline: none;
}

.btn-primary {
  @include button-primary-common();
  background: transparent;
  color: $color-white;
  font-weight: bold;
}

.btn-primary:hover {
  color: $color-bright-gray;
  transition: color 0.9s;
}

.btn-secondary {
  @include button-primary-common();
  background-color: $color-medium-spring-green;
  color: $color-bright-gray;
  font-weight: bold;
}

.btn-secondary:hover {
  background-color: $color-carribean-green;
  transition: background-color 0.9s;
}
