/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

html,
body,
p {
    margin: 0;
    padding: 0;
}